---
import "./form.css";

const { heading, email, subject, message, send } = Astro.props;
---

<section id="contact">
  <h2 class="contact__heading">{heading}</h2>

  <form
    class="contact__form"
    action="mailto:danisaavedraes@gmail.com"
    method="post"
    enctype="text/plain"
  >
    <label for="contact__email">{email}</label>
    <input name="contact__email" type="text" />

    <label for="contact__subject">{subject}</label>
    <input type="text" name="subject" id="" />

    <label for="contact__message">{message}</label>
    <textarea name="contact__message" id="" cols="30" rows="10"></textarea>

    <input type="submit" value={send} />
  </form>
</section>

<script>
  import { scrollAnimations } from "../../utils/scrollAnimations";

  scrollAnimations({
    animations: [
      {
        targetSelector: ".contact__form",
        animationProps: {
          backgroundColor: "var(--glass-color-100)",
        },
        duration: 0.3,
        reverseAnimationProps: { backgroundColor: "var(--glass-color-900)" },
        reverseDuration: 0.3,
      },
    ],
  });
</script>
