---
import { linkIcon } from "@/assets/icons/icons";

interface CardProps {
  title: string;
  image: string;
  tags: string[];
  link: string;
  description: string;
}

const { title, image, tags, link, description } = Astro.props as CardProps;
---

<li class="projects__card card">
  <a class="card__link" href={link} target="_blank">
    <div class="card__header">
      <img class="card__image" src={image} alt="" />
    </div>

    <footer class="card__footer">
      <header class="card__footer-header">
        <h3 class="card__footer-title">{title}</h3>
        <span set:html={linkIcon} />
      </header>

      <section class="card__footer-description">
        {description}
      </section>

      <!-- <ul class="card__footer-tags">
        {tags && tags.map((tag) => <li class="card__footer-tag">{tag}</li>)}
      </ul> -->
    </footer>
  </a>
</li>
