---
import "./header.css";
import { icons } from "./icons/icons";

const { position, headline } = Astro.props;
---

<header id="header">
  <div class="header__content">
    <div class="header__text">
      <h1 class="header__title"></h1>

      <h2 class="header__position">{position}</h2>
    </div>

    <div class="header__logo-container">
      <img src="/Daniel.jpg" alt="Profile Picture" class="header__logo" />
    </div>
  </div>

  <p class="header__headline">
    {headline}
  </p>

  <div id="social-container">
    <a
      href="https://github.com/kiudev"
      target="_blank"
      set:html={icons.github}
    />
    <a
      href="https://linkedin.com/in/danisaavedraes"
      target="_blank"
      set:html={icons.linkedin}
    />
  </div>

  <a href="#about" class="header__chevron" set:html={icons.chevronsDown} />
</header>

<script>
  import { animate, hover } from "motion";

  const headingElement = document.querySelector(".header__title");
  const spans = document.querySelectorAll(".animated-text");
  const scrollableContainer = document.getElementById("scrollable-container");
  const chevron = document.querySelector(".header__chevron");

  const headingText = "Daniel Saavedra";
  const splitedText = headingText.split("");

  splitedText?.forEach((char) => {
    const span = document.createElement("span");
    span.className = "animated-text";
    span.textContent = char;
    headingElement?.appendChild(span);
  });

  spans.forEach((el, i) => {
    animate(
      el,
      { opacity: [0, 1], filter: ["blur(10px)", "blur(0px)"] },
      { duration: 1, delay: i * 0.1 },
    );
  });

  animate(
    ".header__logo",
    { scale: [0.4, 1] },
    { ease: "circInOut", duration: 1 },
  );

  hover("#social-container a", (el) => {
    animate(el, { scale: 1.2 }, { type: "tween", stiffness: 300 });

    return () => animate(el, { scale: 1 }, { type: "tween", stiffness: 300 });
  });

  animate(
    ".header__chevron",
    { y: [0, 10], opacity: [0, 50] },
    { duration: 2, repeat: Infinity, ease: "easeInOut" },
  );

  if (scrollableContainer) {
    scrollableContainer.addEventListener("scroll", () => {
      const scrollPosition = scrollableContainer.scrollTop;

      if (scrollPosition > 400) {
        animate(".header__chevron", { display: "none", color: 'var(--neutral-color-100)' }, { duration: 0.3 });
      } else {
        animate(".header__chevron", { display: "block", color: 'var(--neutral-color-900)' }, { duration: 0.3 });
      }
    });
  }
</script>
