---
import "./header.css";
import {
  githubIcon,
  linkedinIcon,
  chevronsDownIcon,
} from "@/assets/icons/icons";

const { position, headline } = Astro.props;
---

<header id="header">
  <div class="header__content">
    <div class="header__text">
      <h1 class="header__title"></h1>

      <h2 class="header__position">{position}</h2>
    </div>

    <div class="header__logo-container">
      <img src="/Daniel.jpg" alt="Profile Picture" class="header__logo" />
    </div>
  </div>

  <p class="header__headline">
    {headline}
  </p>

  <div class="header__social">
    <a
      class="header__social-github"
      href="https://github.com/kiudev"
      target="_blank"
      set:html={githubIcon}
    />

    <a
      class="header__social-linkedin"
      href="https://linkedin.com/in/danisaavedraes"
      target="_blank"
      set:html={linkedinIcon}
    />

    <a class="header__social-contact" href="#contact" set:html="Contacta" />
  </div>

  <a href="#about" class="header__chevron" set:html={chevronsDownIcon} />
</header>

<script>
  import { animate, hover } from "motion";
  import { scrollAnimations } from "../../utils/scrollAnimations";

  const title = document.querySelector(".header__title");
  const headingText = "Daniel Saavedra";
  const splitedText = headingText.split("");

  splitedText?.forEach((char) => {
    const span = document.createElement("span");
    span.className = "animated-text";
    span.textContent = char;
    title?.appendChild(span);
  });

  const spans = document.querySelectorAll(".animated-text");

  spans.forEach((el, i) => {
    animate(
      el,
      { opacity: [0, 1], filter: ["blur(10px)", "blur(0px)"] },
      { duration: 1, delay: i * 0.1 },
    );
  });

  animate(
    ".header__logo",
    { scale: [0.4, 1] },
    { ease: "circInOut", duration: 1 },
  );

  hover(".header__social a", (el) => {
    animate(el, { scale: 1.2 }, { type: "tween", stiffness: 300 });

    return () => animate(el, { scale: 1 }, { type: "tween", stiffness: 300 });
  });

  animate(
    ".header__chevron",
    { y: [-20, 10], opacity: [0, 1] },
    { duration: 2, repeat: Infinity, ease: "easeInOut" },
  );

  scrollAnimations({
    animations: [
      {
        targetSelector: ".header__headline",
        animationProps: {
          backgroundColor: "var(--glass-color-100)",
        },
        duration: 0.3,
        reverseAnimationProps: { backgroundColor: "var(--glass-color-900)" },
        reverseDuration: 0.3,
      },
      {
        targetSelector: ".header__social-github, .header__social-linkedin",
        animationProps: {
          backgroundColor: "var(--glass-color-100)",
        },
        duration: 0.3,
        reverseAnimationProps: { backgroundColor: "var(--glass-color-900)" },
        reverseDuration: 0.3,
      },
      {
        targetSelector: ".header__chevron",
        animationProps: {
          color: "var(--neutral-color-100)",
        },
        duration: 0.3,
        reverseAnimationProps: { color: "var(--neutral-color-900)" },
        reverseDuration: 0.3,
      },
      {
        targetSelector: ".header__title",
        animationProps: {
          color: "var(--neutral-color-100)",
        },
        duration: 0.3,
        reverseAnimationProps: { color: "var(--neutral-color-900)" },
        reverseDuration: 0.3,
      },
    ],
  });
</script>
